* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
select,
button {
  color: white;
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

/* Style */

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 10vh; */
  padding: 10px 0;
  position: fixed;
  background-color: #3a5a40;
}

.input-search-container {
  width: 40%;
  color: #dad7cd;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid currentColor;
  border-radius: 50px;
}

/* Styles for search input box */
input[type="search"],
button[type="submit"] {
  border: none;
  background: transparent;
  /* margin: 0; */
  padding: 7px 8px;
  font-size: 16px;

  /* color: inherit; */
  /* border: 1px solid transparent; */
  /* border-radius: inherit; */
}

/* placeholder color */
input[type="search"]::placeholder,
.fa-magnifying-glass {
  color: #f5ebe0;
  letter-spacing: 0.1em;
}

/* Remove searchbox outline color */
input:focus {
  outline: none;
}

/* AlbumBox and album Child style*/

.albumBox {
  display: flex;
  justify-content: center;
}

.albumBox .albumContent {
  width: 85%;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  flex-wrap: wrap;
}

.albumBox .single-album {
  margin: 1rem;
  width: 200px;
  height: auto;
}

.albumBox img {
  width: 200px;
}
